# This file will be sourced by the 'build' script, it needs to follow bash syntax.
# Don't add any new code/variables here, this file's purpose is to make build variables configurable.

# Size of tempfs for the builder. Might need to be increased for images with many packages.
# If this is too small, you will see messages like 'failed to write (No space left on device)' while building the image.
tempfs_size=2G
